<p>{{ name }}</p>
<p> -- Appearance </p>
<p>{{ name }} </p>
<p>{{ eye }} </p>
<p>{{ gender }} </p>
<p>{{ hair }} </p>
<p>{{ height }} </p>
<p>{{ race }} </p>
<p>{{ weight }} </p>
<p>{{ aliases }} </p>
<p>{{ alignment }} </p>
<p>{{ alterEgos }} </p>
<p>{{ firstAppearance }} </p>
<p>{{ fullName }} </p>
<p>{{ placeOfBirth }} </p>
<p>{{ publisher }} </p>
<p>{{ groupAffiliation }} </p>
<p>{{ relatives }} </p>
<p>{{ image }} </p>
<img src="{{ image }}" alt="{{ name }}">
<p> --  powerstats  </p>
<p> {{ combat }} </p>
<p> {{ durability }} </p>
<p> {{ intelligence }} </p>
<p> {{ power }} </p>
<p> {{ speed }} </p>
<p> {{ strength }} </p>
<p>{{ work }} </p>
