<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container emp-profile">
    <form method="post">
        <div class="card text-white bg-dark mb-3">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{{ image }}" alt="{{ name }}">
                    </div>
                    <div class="profile-work">
                        <p>APPEARANCE</p>
                        <a>Gender: {{ gender }}</a><br />
                        <a>Race: {{ race }}</a><br />
                        <a>Hair Color: {{ hair }}</a><br />
                        <a>Eye Color: {{ eye }}</a><br />
                        <a>Height: {{ height }}</a><br />
                        <a>Weight: {{ weight }}</a><br />
                        <p>BIOGRAPHY</p>
                        <a>Publisher: {{ publisher }} </a><br />
                        <a>Alignment: {{ alignment }} </a><br />
                        <a>Alter Egos: {{ alterEgos }}</a><br />
                        <a>Aliases: {{ aliases }}</a><br />
                        <a>First Appearance: {{ firstAppearance }} </a><br />
                        <a>Place of birth: {{ placeOfBirth }}</a><br />
                    </div>
                </div>

                <div class="col-md-6" id="info">
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5>
                                {{ name }}
                            </h5>
                            <h6>
                                {{ fullName }}
                            </h6>
                            <p class="proile-rating">AVERAGE : <span> {{ average }}/100</span></p>
                            <div class="row" id="buttons">
                                <div class="col-button">
                                    <button type="button" class="btn btn-outline-primary" (click)="changeTab(1)"> More
                                        Info
                                    </button>
                                </div>
                                <div class="col-button">
                                    <button type="button" class="btn btn-outline-primary" (click)="changeTab(2)">
                                        Powerstats
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-info skills-tab">
                        <div class="tab-content" id="myTabContent">
                            <div *ngIf="selectedTab == 1">
                                <h4>
                                    Work
                                </h4>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Occupation</label>
                                    </div>
                                    <div class="col-md-10">
                                        <p>{{ occupation }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Base</label>
                                    </div>
                                    <div class="col-md-10">
                                        <p>{{ base }}</p>
                                    </div>
                                </div>
                                <h4>
                                    Connections
                                </h4>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Group Affiliation</label>
                                    </div>
                                    <div class="col-md-10">
                                        <p> {{ groupAffiliation }} </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Relatives</label>
                                    </div>
                                    <div class="col-md-10">
                                        <p> {{ relatives }} </p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedTab == 2">
                                <div class="powerstats-tab">
                                    <h4>
                                        Powerstats
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Intelligence</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ intelligence }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Strength</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ strength }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Speed</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ speed }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Durability</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ durability }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Power</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ power }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Combat</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ combat }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>